@charset "utf-8";
body {
  margin: 0;
  padding: 0;
}
header .logo img {
  width: 100%;
  height: 80px;
}
header div p {
  margin: 0% 1%;
  display: inline-block;
}
.menu-m {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed; /*位置固定*/
  top: 0;
  left: 0;
}
.menu-m p {
  display: block;
  margin: 16px 16px;
	text-align: center;
}
.menu-m p a {
  color: #FFFFFF;
}
.close {
  position: absolute; /*絕對位置*/
  top: 6vh;
  right: 2vw;
}
.close a {
  color: #FFFFFF;
  font-size: 20px;
}
.menu-m a {
  text-decoration: none;
}
.menu .mobile-menu {
  width: 50px;
  height: 50px;
  float: right;
  display: none;
}
.menu p:hover {
  background-color: #E3005B;
}
.menu p:hover a {
  color: #FFFFFF;
  /* [disabled]font-size: 20px; */
}
.logo {
  width: 25%;
  float: left;
}
.menu {
  width: 74%;
  float: right;
  padding: 31.5px 0.5%;
  text-align: right;
}
body section {
  clear: both;
}
.Joining p{
	color: #FFFFFF;
}
.Joining {
  background-color: #FFFFF1;
  /*height: 40vh;*/
  background-image: url("image/Joining Notice01.svg");
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 3em;
  padding: 18vh 0vw;
}

.bodys{
	width: 97%;
	margin: 0% 1.5%;
}
.bodys img{
	width: 25%;
	height: auto;
	float: right;
	margin: 16px;
}
/*.banner img {
    width: 100%;
    height: auto;
}
.news h1 {
    font-size: 46px;
    text-align: center;
}
.news div {
    width: 24%;
    margin: 0% 0.5%;
    float: left;
}

.news div h2 {
    font-size: 22px;
    text-align: left;
}
.news div p {
    text-align: justify;
}
.news div img {
    width: 100%;
    height: auto;
}
.news .bg-color{
	background-color: #FFFFFF;
}*/
body footer {
  background-color: #474747;
  clear: both;
  color: #FFFFFF;
  padding: 16px 0px;
  text-align: center;
}
body footer span {
  width: 150px;
  display: inline-block;
}
footer span a {
  color: #FFFFFF;
}
@media (min-width:320px) and (max-width:767px) { /*手機尺寸*/
  .logo {
    width: 50%;
  }
  .menu {
    width: 49%;
  }
  .menu p {
    display: none; /*選單暫時移除*/
  }
  /*.news div {
		width: 90%;
		margin: 0% 5%;
	}
	.news .bg-color{
	background-color: #C8C8C8;
}*/
  .menu .mobile-menu {
    display: block;
  }
  .winery {
    /*height: 30vh;*/
    background-position: center center;
    padding: 13vh 0vw;
  }
	.bodys{
		width: 90%;
		margin:5% 5%;
	}
	.bodys img{
		width: 100%;
		height: auto;
	}
}
@media (min-width:768px) and (max-width:1152px) { /*平板尺寸*/
  /*.news div {
		width: 44%;
		margin: 0% 3%;
	}*/
}
@media (min-width:1153px) and (max-width:3600px) { /*PC尺寸*/
}